populations/gametes/h*
populations/gametes/map*
populations/gametes/models/*
data/*
bin/*
pipelines/*.png.*
*.ped
*.map
*.gds
*.net
.ipynb_checkpoints
phenotype.txt
.DS_Store
*work*
*.nextflow*
*RData
results/fishy_gi/
