populations/gametes/h*
populations/gametes/map*
populations/gametes/models/*
data/*
libs/*
pipelines/*.png.*
pipelines/*/.nextflow/*
pipelines/*/work/*
.nextflow.log*
.nextflow
*.ped
*.map
*.gds
*.net
.ipynb_checkpoints
phenotype.txt
