# folders with patient raw data
results/preprocessing/

# GWAS files
*.ped
*.map
*.bed
*.bim
*.fam
*.irem
*.cov

# software and OS
templates
.ipynb_checkpoints
.DS_Store
.nextflow
*work*
*.log*
*RData
*trace.txt*
SigMod_v2*
