profiles {

    standard {
        process.executor = 'local'
    }

    cbio {
        process.executor = 'sge'
        process.queue = 'all.q'
    }

    curie {
        process.executor = 'pbs'
        process.queue = 'batch'
        queueSize = 1
    }
}

executor {
    name = 'pbs'
    queueSize = 1
}
