profiles {

    standard {
        process.executor = 'local'
        executor.queueSize = 4
    }

    cbio {
        process.executor = 'sge'
        process.queue = 'all.q'
        process.clusterOptions = '-S /bin/bash'
        process.scratch = true
    }

    cbio_bigmem {
        process.executor = 'sge'
        process.queue = 'all.q'
        process.clusterOptions = '-S /bin/bash -l mem_free=20G'
        process.scratch = true
    }

    curie {
        process.executor = 'pbs'
        process.queue = 'batch'
        process.scratch = true
    }

    curie_bigmem {
        process.executor = 'pbs'
        process.queue = 'batch'
        process.clusterOptions = '-l mem=20G'
        process.scratch = true
    }

}
